
<div class="z-1199 fixed inset-0 bg-black/65" (click)="closePanel()">
</div>

<div class="flex justify-center items-center">
    <div
        class="z-1200 fixed top-1/2 -translate-y-1/2 w-full max-w-9/10 sm:max-w-md mx-auto max-h-[90vh] p-6 bg-surface dark:bg-surface-dark rounded-lg shadow-lg overflow-y-auto">
        <button (click)="closePanel()"
            class="cursor-pointer absolute top-4 right-4 text-on-surface dark:text-on-surface-dark"
            aria-label="close modal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" stroke="currentColor"
                fill="none" stroke-width="1.4" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>

        <h2 class="text-lg font-bold dark:text-on-surface-dark">Create a Relief Request</h2>

        
        <form #form="ngForm" (ngSubmit)="submitRequest()" class="flex flex-col gap-3">

            <div class="flex w-full flex-col gap-1 text-on-surface dark:text-on-surface-dark mt-3">
                <label for="textInputDefault" class="w-fit pl-0.5 text-sm">Title</label>
                <input required [(ngModel)]="request.title" id="textInputDefault" type="text"
                    class="w-full rounded-radius border border-outline bg-surface-alt px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:cursor-not-allowed disabled:opacity-75 dark:border-outline-dark dark:bg-surface-dark-alt/50 dark:focus-visible:outline-primary-dark"
                    name="title" placeholder="Enter a title" />
            </div>

            <div class="flex w-full flex-col gap-1 text-on-surface dark:text-on-surface-dark mt-3">
                <label for="textInputDefault" class="w-fit pl-0.5 text-sm">Description</label>
                <textarea required [(ngModel)]="request.description" id="textInputDefault" type="text"
                    class="w-full rounded-radius border border-outline bg-surface-alt px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:cursor-not-allowed disabled:opacity-75 dark:border-outline-dark dark:bg-surface-dark-alt/50 dark:focus-visible:outline-primary-dark"
                    name="description" placeholder="Enter a description"></textarea>
            </div>

            <div class="flex w-full flex-col gap-1 text-on-surface dark:text-on-surface-dark mt-3">
                <label for="textInputDefault" class="w-fit pl-0.5 text-sm">Link</label>
                <input required [(ngModel)]="request.link" id="textInputDefault" type="text"
                    class="w-full rounded-radius border border-outline bg-surface-alt px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:cursor-not-allowed disabled:opacity-75 dark:border-outline-dark dark:bg-surface-dark-alt/50 dark:focus-visible:outline-primary-dark"
                    name="link" placeholder="Enter a link (ie. GoFundMe)" />
            </div>

            <div class="relative flex w-full flex-col gap-1 text-on-surface dark:text-on-surface-dark mt-3">
                <label for="os" class="w-fit pl-0.5 text-sm">Relief Type/Purpose</label>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="absolute pointer-events-none right-4 top-8 size-5">
                    <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>
                <select [(ngModel)]="request.category" id="os" name="os" class="w-full appearance-none rounded-radius border border-outline bg-surface-alt px-4 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:cursor-not-allowed disabled:opacity-75 dark:border-outline-dark dark:bg-surface-dark-alt/50 dark:focus-visible:outline-primary-dark">
                    <option value="food">Food</option>
                    <option value="shelter">Shelter</option>
                    <option value="medical">Medical</option>
                </select>
            </div>

            <div class="flex w-full flex-col gap-1 text-on-surface dark:text-on-surface-dark mt-3">
                <label for="textInputDefault" class="w-fit pl-0.5 text-sm">Location</label>
                <input required [(ngModel)]="address" id="locationInput" type="text"
                    class="w-full rounded-radius border border-outline bg-surface-alt px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:cursor-not-allowed disabled:opacity-75 dark:border-outline-dark dark:bg-surface-dark-alt/50 dark:focus-visible:outline-primary-dark"
                    name="location" placeholder="Enter a location" />
            </div>

            <div class="flex flex-row gap-5">
                <div class="flex w-full flex-col gap-1 text-on-surface dark:text-on-surface-dark mt-3">
                    <label for="textInputDefault" class="w-fit pl-0.5 text-sm">Latitude</label>
                    <input required disabled [(ngModel)]="request.latitude" id="lat" type="text"
                        class="w-full rounded-radius border border-outline bg-surface-alt px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:cursor-not-allowed disabled:opacity-75 dark:border-outline-dark dark:bg-surface-dark-alt/50 dark:focus-visible:outline-primary-dark"
                        name="latitude" placeholder="" />
                </div>
                
                <div class="flex w-full flex-col gap-1 text-on-surface dark:text-on-surface-dark mt-3">
                    <label for="textInputDefault" class="w-fit pl-0.5 text-sm">Longitude</label>
                    <input required disabled [(ngModel)]="request.longitude" id="lat" type="text"
                        class="w-full rounded-radius border border-outline bg-surface-alt px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:cursor-not-allowed disabled:opacity-75 dark:border-outline-dark dark:bg-surface-dark-alt/50 dark:focus-visible:outline-primary-dark"
                        name="longitude" placeholder="" />
                </div>
            </div>
            
            <button
                [disabled]="form.invalid"
                class="mt-3 cursor-pointer whitespace-nowrap rounded-full border border-primary bg-primary px-6 py-3 text-center text-xs font-medium tracking-wide text-on-primary transition hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:opacity-100 active:outline-offset-0 dark:bg-primary-dark dark:text-on-primary-dark dark:border-primary-dark dark:focus-visible:outline-primary-dark disabled:opacity-75 disabled:cursor-not-allowed"
                type="submit">
                Submit
            </button>
        </form>
       
        <div class="flex justify-end gap-2 mt-4">
            <!-- <button (click)="toggleRegister()"
                class="cursor-pointer whitespace-nowrap rounded-radius border border-transparent text-secondary px-4 py-2 text-center text-xs font-medium tracking-wide transition hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary active:opacity-100 active:outline-offset-0 dark:border-transparent dark:text-secondary-dark dark:focus-visible:outline-secondary-dark"
                type="button" aria-label="cancel">
                {{ registering && 'Sign In' || 'Register' }}
            </button>
            <button (click)="login()" 
                [disabled]="(registering && (username.length == 0 || password.length == 0 || email.length == 0 || fname.length == 0 || lname.length == 0)) || (username.length == 0 || password.length == 0)"
                class="cursor-pointer whitespace-nowrap rounded-full border border-primary bg-primary px-6 py-2 text-center text-xs font-medium tracking-wide text-on-primary transition hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:opacity-100 active:outline-offset-0 dark:bg-primary-dark dark:text-on-primary-dark dark:border-primary-dark dark:focus-visible:outline-primary-dark disabled:opacity-75 disabled:cursor-not-allowed"
                type="button" aria-label="send">
                {{ registering && 'Register' || 'Sign In' }}
            </button> -->
        </div>
    </div>

</div>

