<div 
  class="z-1000 fixed bottom-0 left-0 w-full bg-surface-alt dark:bg-surface-dark-alt shadow-lg rounded-t-2xl 
         transition-transform duration-300 h-[50vh] md:h-full md:top-0 md:right-0 md:left-auto md:w-96 md:rounded-none
         flex flex-col overflow-hidden max-h-[50vh] md:max-h-full"
  [style.transform]="'translateY(' + translateY + '%)'"
  (touchstart)="onTouchStart($event)"
  (touchmove)="onTouchMove($event)"
  (touchend)="onTouchEnd()"
>

  <div class="w-12 h-1.5 bg-on-surface/50 dark:bg-on-surface-dark/50 rounded-full mx-auto mt-2 md:hidden"></div>

  <div class="flex flex-col overflow-y-auto flex-grow px-4 md:px-0">
    
    <div class="px-4 md:px-0 order-2 md:order-1">
      <img 
        class="w-full h-48 md:h-64 object-cover rounded-lg md:rounded-none"
        src="food.jpg" 
      />
    </div>

    <div class="p-4 order-1 md:order-2">
      <h3 class="text-lg font-semibold text-on-surface dark:text-on-surface-dark">{{ reliefData?.title }}</h3>
      <p class="text-sm text-on-surface/75 dark:text-on-surface-dark/75">{{ reliefData?.description }}</p>
    </div>

    <h3 class="order-3 px-4 mt-4 text-lg font-medium text-on-surface dark:text-on-surface-dark">Comments</h3>
    <div class="order-3 w-[92%] h-px bg-outline-dark mt-2 mx-auto rounded-full"></div>

    @if (reliefData) {
      @for (comment of reliefData.comments; track comment.id) {
        <app-comment class="order-4" [comment]="comment"></app-comment>
      }
    }
  </div>
</div>